<th class="{{#if table-th--modifier}} {{table-th--modifier}}{{/if}}
  {{#if table-th--compound-expansion-toggle}} pf-c-table__compound-expansion-toggle{{/if}}
  {{#if table-th--sortable}} pf-c-table__sort{{/if}}
  {{#if table-th--toggle}} pf-c-table__toggle{{/if}}
  {{#if table-th--check}} pf-c-table__check{{/if}}
  {{#if table-th--action}} pf-c-table__action{{/if}}
  {{#if table-th--icon}} pf-c-table__icon{{/if}}
  {{#if table-th--sortable-wrap}} pf-m-wrap{{/if}}
  {{#if table-th--selected}} pf-m-selected{{/if}}"
  {{#if table--grid}}
    role="columnheader"
  {{/if}}
  {{#if table-th--sortable}}
    {{#if table-th--asc}}
      aria-sort="ascending"
    {{else if table-th--desc}}
      aria-sort="descending"
    {{else}}
      aria-sort="none"
    {{/if}}
  {{/if}}
  {{#if table-th--data-label}}
    data-label="{{table-th--data-label}}"
  {{/if}}
  {{#if table-th--attribute}}
    {{{table-th--attribute}}}
  {{/if}}>
  {{#if table-th--sortable}}
    {{#> table-button}}
      {{#> table-button-content}}
        {{#> table-text}}
          {{> @partial-block}}
        {{/table-text}}
        {{#> table-sort-indicator}}
          {{#if table-th--selected}}
            {{#if table-th--asc}}
              <i class="fas fa-long-arrow-alt-up"></i>
            {{else}}
              <i class="fas fa-long-arrow-alt-down"></i>
            {{/if}}
          {{else}}
            <i class="fas fa-arrows-alt-v"></i>
          {{/if}}
        {{/table-sort-indicator}}
      {{/table-button-content}}
    {{/table-button}}
  {{else if table-th--compound-expansion-toggle}}
    {{#> table-button table-button--attribute=table-th--button--attribute}}
      {{#> table-text}}
        {{> @partial-block}}
      {{/table-text}}
    {{/table-button}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</th>
