$pf-c-page--breakpoint-map: build-breakpoint-map("base", "sm", "md", "lg", "xl", "2xl");

// URL.com/guidelines#layout
.pf-c-page {
  --pf-c-page--BackgroundColor: var(--pf-global--BackgroundColor--light-300);

  // Header
  --pf-c-page__header--BackgroundColor: var(--pf-global--BackgroundColor--dark-100);
  --pf-c-page__header--ZIndex: var(--pf-global--ZIndex--md);
  --pf-c-page__header--MinHeight: #{pf-size-prem(76px)}; // fixed height for header to ensure consistency across screen sizes.

  // Header brand
  --pf-c-page__header-brand--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-page__header-brand--xl--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-page__header-brand--xl--PaddingLeft: var(--pf-global--spacer--lg);

  @media (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__header-brand--PaddingLeft: var(--pf-c-page__header-brand--xl--PaddingLeft);
  }

  // Toggle
  --pf-c-page__header-sidebar-toggle__c-button--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-page__header-sidebar-toggle__c-button--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-page__header-sidebar-toggle__c-button--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-page__header-sidebar-toggle__c-button--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-page__header-sidebar-toggle__c-button--MarginRight: var(--pf-global--spacer--md);
  --pf-c-page__header-sidebar-toggle__c-button--MarginLeft: calc(var(--pf-c-page__header-sidebar-toggle__c-button--PaddingLeft) * -1);
  --pf-c-page__header-sidebar-toggle__c-button--xl--MarginLeft: calc(var(--pf-c-page__header-sidebar-toggle__c-button--PaddingLeft) * -1); // remove in breaking change release
  --pf-c-page__header-sidebar-toggle__c-button--FontSize: var(--pf-global--FontSize--2xl);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__header-sidebar-toggle__c-button--MarginLeft: var(--pf-c-page__header-sidebar-toggle__c-button--xl--MarginLeft); // remove in breaking change release
  }

  // Header brand link
  --pf-c-page__header-brand-link--c-brand--MaxHeight: #{pf-size-prem(60px)};

  // Header nav
  --pf-c-page__header-nav--BackgroundColor: var(--pf-global--BackgroundColor--dark-300);
  --pf-c-page__header-nav--xl--BackgroundColor: transparent;
  --pf-c-page__header-nav--xl--PaddingRight: var(--pf-global--spacer--xl);
  --pf-c-page__header-nav--xl--PaddingLeft: var(--pf-global--spacer--xl);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__header-nav--BackgroundColor: var(--pf-c-page__header-nav--xl--BackgroundColor);
    --pf-c-page__header-nav--PaddingRight: var(--pf-c-page__header-nav--xl--PaddingRight);
    --pf-c-page__header-nav--PaddingLeft: var(--pf-c-page__header-nav--xl--PaddingLeft);
  }

  // Header tools
  --pf-c-page__header-tools--MarginRight: var(--pf-global--spacer--md);
  --pf-c-page__header-tools--xl--MarginRight: var(--pf-global--spacer--lg);
  --pf-c-page__header-tools--c-avatar--MarginLeft: var(--pf-global--spacer--md);
  --pf-c-page__header-tools-group--MarginLeft: var(--pf-global--spacer--xl);

  // Header tools group button
  --pf-c-page__header-tools--c-button--m-selected--before--Width: #{pf-size-prem(36px)};
  --pf-c-page__header-tools--c-button--m-selected--before--Height: #{pf-size-prem(36px)};
  --pf-c-page__header-tools--c-button--m-selected--before--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-page__header-tools--c-button--m-selected--before--BorderRadius: var(--pf-global--BorderRadius--lg);
  --pf-c-page__header-tools--c-button--m-selected--c-notification-badge--m-unread--after--BorderColor: var(--pf-global--BackgroundColor--dark-200);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__header-tools--MarginRight: var(--pf-c-page__header-tools--xl--MarginRight);
  }

  // Sidebar
  --pf-c-page__sidebar--ZIndex: var(--pf-global--ZIndex--sm);
  --pf-c-page__sidebar--Width: 80%;
  --pf-c-page__sidebar--Width: #{pf-size-prem(290px)};
  --pf-c-page__sidebar--BackgroundColor: var(--pf-global--BackgroundColor--dark-300);
  --pf-c-page__sidebar--m-light--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-page__sidebar--BoxShadow: var(--pf-global--BoxShadow--lg-right);
  --pf-c-page__sidebar--Transition: var(--pf-global--Transition);
  --pf-c-page__sidebar--Transform: translate3d(-100%, 0, 0);
  --pf-c-page__sidebar--m-expanded--Transform: translate3d(0, 0, 0);
  --pf-c-page__sidebar--xl--Transform: translate3d(0, 0, 0);
  --pf-c-page__sidebar-body--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-page__sidebar-body--PaddingBottom: var(--pf-global--spacer--md);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__sidebar--Transform: var(--pf-c-page__sidebar--xl--Transform);
  }

  // Main section
  --pf-c-page__main-section--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-page__main-section--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-page__main-section--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-page__main-section--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-page__main-section--xl--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-page__main-section--xl--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-page__main-section--xl--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-page__main-section--xl--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-page__main-section--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-page__main--ZIndex: var(--pf-global--ZIndex--xs);
  --pf-c-page__main-breadcrumb--main-section--PaddingTop: var(--pf-global--spacer--md);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__main-section--PaddingTop: var(--pf-c-page__main-section--xl--PaddingTop);
    --pf-c-page__main-section--PaddingRight: var(--pf-c-page__main-section--xl--PaddingRight);
    --pf-c-page__main-section--PaddingBottom: var(--pf-c-page__main-section--xl--PaddingBottom);
    --pf-c-page__main-section--PaddingLeft: var(--pf-c-page__main-section--xl--PaddingLeft);
  }

  // Main section horizontal nav
  --pf-c-page__main-nav--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-page__main-nav--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-page__main-nav--PaddingRight: 0;
  --pf-c-page__main-nav--PaddingLeft: 0;
  --pf-c-page__main-nav--xl--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-page__main-nav--xl--PaddingLeft: var(--pf-global--spacer--sm);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__main-nav--PaddingRight: var(--pf-c-page__main-nav--xl--PaddingRight);
    --pf-c-page__main-nav--PaddingLeft: var(--pf-c-page__main-nav--xl--PaddingLeft);
  }

  // Light scroll buttons
  --pf-c-nav__main-nav--c-nav__scroll-button--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav__main-nav--c-nav__scroll-button--hover--Color: var(--pf-global--active-color--100);
  --pf-c-nav__main-nav--c-nav__scroll-button--focus--Color: var(--pf-global--active-color--100);
  --pf-c-nav__main-nav--c-nav__scroll-button--active--Color: var(--pf-global--active-color--100);
  --pf-c-nav__main-nav--c-nav__scroll-button--disabled--Color: var(--pf-global--disabled-color--200);

  // Scroll buttons before
  --pf-c-nav__main-nav--c-nav__scroll-button--before--BorderColor: var(--pf-global--BorderColor--300);
  --pf-c-nav__main-nav--c-nav__scroll-button--disabled--before--BorderColor: var(--pf-global--disabled-color--300);

  // Main section breadcrumb
  --pf-c-page__main-breadcrumb--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-page__main-breadcrumb--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-page__main-breadcrumb--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-page__main-breadcrumb--PaddingBottom: 0;
  --pf-c-page__main-breadcrumb--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-page__main-breadcrumb--xl--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-page__main-breadcrumb--xl--PaddingLeft: var(--pf-global--spacer--lg);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-page__main-breadcrumb--PaddingRight: var(--pf-c-page__main-breadcrumb--xl--PaddingRight);
    --pf-c-page__main-breadcrumb--PaddingLeft: var(--pf-c-page__main-breadcrumb--xl--PaddingLeft);
  }

  // Main section modifiers
  --pf-c-page__main-section--m-light--BackgroundColor: var(--pf-global--BackgroundColor--light-100);
  --pf-c-page__main-section--m-dark-100--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-100);
  --pf-c-page__main-section--m-dark-200--BackgroundColor: var(--pf-global--BackgroundColor--dark-transparent-200);

  // Wizard main section
  --pf-c-page__main-wizard--BorderTopColor: var(--pf-global--BorderColor--100);
  --pf-c-page__main-wizard--BorderTopWidth: var(--pf-global--BorderWidth--sm);

  // Base
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "header"
    "main";
  background-color: var(--pf-c-page--BackgroundColor);

  @media (min-width: $pf-global--breakpoint--xl) {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }
}


// Header
.pf-c-page__header {
  @include pf-t-dark; // force the container to follow the dark theme

  z-index: var(--pf-c-page__header--ZIndex);
  grid-template-columns: auto auto;
  display: grid;
  grid-area: header;
  align-items: center;
  min-width: 0;
  min-height: var(--pf-c-page__header--MinHeight);
  background-color: var(--pf-c-page__header--BackgroundColor);

  > * {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    grid-template-columns: auto 1fr auto;
  }
}

// Brand
.pf-c-page__header-brand {
  grid-column: 1 / 2;
  padding-left: var(--pf-c-page__header-brand--PaddingLeft);

  @media (min-width: $pf-global--breakpoint--xl) {
    padding-right: var(--pf-c-page__header-brand--xl--PaddingRight); // set padding right here to allow mobile view to accomodate tools
  }
}

// Link
.pf-c-page__header-brand-link {
  display: flex;
  flex: 1;
  align-items: center;

  .pf-c-brand {
    max-height: var(--pf-c-page__header-brand-link--c-brand--MaxHeight); // Hardcode brand image max-height so it always aligns with everthing else.
  }
}

// Sidebar toggle
.pf-c-page__header-brand-toggle {
  .pf-c-button {
    padding: var(--pf-c-page__header-sidebar-toggle__c-button--PaddingTop) var(--pf-c-page__header-sidebar-toggle__c-button--PaddingRight) var(--pf-c-page__header-sidebar-toggle__c-button--PaddingBottom) var(--pf-c-page__header-sidebar-toggle__c-button--PaddingLeft);
    margin-right: var(--pf-c-page__header-sidebar-toggle__c-button--MarginRight);
    margin-left: var(--pf-c-page__header-sidebar-toggle__c-button--MarginLeft);
    font-size: var(--pf-c-page__header-sidebar-toggle__c-button--FontSize);
    line-height: 1;
  }
}

// Header navigation
.pf-c-page__header-nav {
  align-self: stretch;
  min-width: 0;
  padding-right: var(--pf-c-page__header-nav--PaddingRight);
  padding-left: var(--pf-c-page__header-nav--PaddingLeft);
  background-color: var(--pf-c-page__header-nav--BackgroundColor);
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .pf-c-nav {
    align-self: stretch;
  }
}

// Header tools
.pf-c-page__header-tools {
  grid-column: 2 / 3;
  align-items: center;
  margin-right: var(--pf-c-page__header-tools--MarginRight);
  margin-left: auto; // to push it to the right

  .pf-m-icons {
    display: none;
    visibility: hidden;

    @media screen and (min-width: $pf-global--breakpoint--lg) {
      display: block;
      visibility: visible;
    }
  }

  .pf-c-button {
    &.pf-m-selected {
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: var(--pf-c-page__header-tools--c-button--m-selected--before--Width);
        height: var(--pf-c-page__header-tools--c-button--m-selected--before--Height);
        content: "";
        background-color: var(--pf-c-page__header-tools--c-button--m-selected--before--BackgroundColor);
        border-radius: var(--pf-c-page__header-tools--c-button--m-selected--before--BorderRadius);
        transform: translateX(-50%);
      }

      // stylelint-disable
      .pf-c-notification-badge {
        &.pf-m-unread {
          &::after {
            border-color: var(--pf-c-page__header-tools--c-button--m-selected--c-notification-badge--m-unread--after--BorderColor);
          }
        }
      }
      // stylelint-enable
    }

    > * {
      position: relative;
    }
  }

  .pf-m-mobile {
    margin-right: 0;

    @media screen and (min-width: $pf-global--breakpoint--lg) {
      display: none;
      visibility: hidden;
    }
  }

  .pf-m-user {
    display: none;
    visibility: hidden;

    @media screen and (min-width: $pf-global--breakpoint--md) {
      display: block;
      visibility: visible;
    }
  }

  .pf-c-avatar {
    margin-left: var(--pf-c-page__header-tools--c-avatar--MarginLeft);
  }

  @media screen and (min-width: $pf-global--breakpoint--lg) {
    grid-column: 3 / 4;
  }
}

.pf-c-page__header-tools-group {
  display: flex;

  & + & {
    margin-left: var(--pf-c-page__header-tools-group--MarginLeft);
  }
}

// Sidebar
.pf-c-page__sidebar {
  grid-area: nav;
  grid-row-start: 2;
  grid-column-start: 1;
  z-index: var(--pf-c-page__sidebar--ZIndex);
  width: var(--pf-c-page__sidebar--Width);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background-color: var(--pf-c-page__sidebar--BackgroundColor);
  transition: var(--pf-c-page__sidebar--Transition);
  transform: var(--pf-c-page__sidebar--Transform);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    box-shadow: var(--pf-c-page__sidebar--BoxShadow);
  }

  // Mobile
  // Expanded nav
  &.pf-m-expanded {
    --pf-c-page__sidebar--Transform: var(--pf-c-page__sidebar--m-expanded--Transform);

    box-shadow: var(--pf-c-page__sidebar--BoxShadow);
  }

  // Desktop
  // Collapse nav
  &.pf-m-collapsed {
    max-width: 0;
    overflow: hidden;
  }

  &.pf-m-light {
    @include pf-t-light;

    --pf-c-page__sidebar--BackgroundColor: var(--pf-c-page__sidebar--m-light--BackgroundColor);
  }
}

.pf-c-page__sidebar-body {
  padding-top: var(--pf-c-page__sidebar-body--PaddingTop);
  padding-bottom: var(--pf-c-page__sidebar-body--PaddingBottom);
}

// Main & Drawer
.pf-c-page__main,
.pf-c-page__drawer {
  grid-area: main;
  z-index: var(--pf-c-page__main--ZIndex);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &:focus {
    outline: 0;
  }
}

.pf-c-page__main-nav {
  padding-top: var(--pf-c-page__main-nav--PaddingTop);
  padding-right: var(--pf-c-page__main-nav--PaddingRight);
  padding-left: var(--pf-c-page__main-nav--PaddingLeft);
  background-color: var(--pf-c-page__main-nav--BackgroundColor);

  // Scroll buttons
  .pf-c-nav__scroll-button {
    --pf-c-nav__scroll-button--Color: var(--pf-c-nav__main-nav--c-nav__scroll-button--Color);

    &::before {
      --pf-c-nav__scroll-button--before--BorderColor: var(--pf-c-nav__main-nav--c-nav__scroll-button--before--BorderColor);
    }

    &:hover {
      --pf-c-nav__scroll-button--Color: var(--pf-c-nav__main-nav--c-nav__scroll-button--hover--Color);
    }

    &:focus {
      --pf-c-nav__scroll-button--Color: var(--pf-c-nav__main-nav--c-nav__scroll-button--focus--Color);
    }

    &:active {
      --pf-c-nav__scroll-button--Color: var(--pf-c-nav__main-nav--c-nav__scroll-button--active--Color);
    }

    &:disabled {
      --pf-c-nav__scroll-button--Color: var(--pf-global--disabled-color--200);
      --pf-c-nav__scroll-button--before--BorderColor: var(--pf-global--disabled-color--300);
    }
  }
}

.pf-c-page__main-breadcrumb {
  padding: var(--pf-c-page__main-breadcrumb--PaddingTop) var(--pf-c-page__main-breadcrumb--PaddingRight) var(--pf-c-page__main-breadcrumb--PaddingBottom) var(--pf-c-page__main-breadcrumb--PaddingLeft);
  background-color: var(--pf-c-page__main-breadcrumb--BackgroundColor);

  + .pf-c-page__main-section {
    --pf-c-page__main-section--PaddingTop: var(--pf-c-page__main-breadcrumb--main-section--PaddingTop);
  }
}

.pf-c-page__main-section {
  padding: var(--pf-c-page__main-section--PaddingTop) var(--pf-c-page__main-section--PaddingRight) var(--pf-c-page__main-section--PaddingBottom) var(--pf-c-page__main-section--PaddingLeft);
  background-color: var(--pf-c-page__main-section--BackgroundColor);

  &:last-of-type,
  &:only-child,
  &.pf-m-fill {
    flex: 1;
  }

  &.pf-m-no-fill {
    flex: 0 0 auto;
  }

  &.pf-m-light {
    --pf-c-page__main-section--BackgroundColor: var(--pf-c-page__main-section--m-light--BackgroundColor);
  }

  &[class*="pf-m-dark-"] {
    @include pf-t-dark; // force the container to follow the dark theme
  }

  &.pf-m-dark-100 {
    --pf-c-page__main-section--BackgroundColor: var(--pf-c-page__main-section--m-dark-100--BackgroundColor);
  }

  &.pf-m-dark-200 {
    --pf-c-page__main-section--BackgroundColor: var(--pf-c-page__main-section--m-dark-200--BackgroundColor);
  }

  @each $breakpoint, $breakpoint-value in $pf-c-page--breakpoint-map {
    $breakpoint-name: if($breakpoint != "base", -on-#{$breakpoint}, "");

    @include pf-apply-breakpoint($breakpoint, $pf-c-page--breakpoint-map) {
      &.pf-m-padding#{$breakpoint-name} {
        padding: var(--pf-c-page__main-section--PaddingTop) var(--pf-c-page__main-section--PaddingRight) var(--pf-c-page__main-section--PaddingBottom) var(--pf-c-page__main-section--PaddingLeft);
      }

      &.pf-m-no-padding#{$breakpoint-name} {
        padding: 0;
      }
    }
  }
}

.pf-c-page__main-wizard {
  flex: 1 0 0;
  border-top: var(--pf-c-page__main-wizard--BorderTopWidth) solid var(--pf-c-page__main-wizard--BorderTopColor);
}

.pf-c-page__drawer {
  grid-area: main;

  > .pf-c-drawer {
    flex: 1 0 auto;
  }
}
