<nav class="pf-c-nav{{#if nav--modifier}} {{nav--modifier}}{{/if}}{{#if nav--IsHorizontal}} pf-m-horizontal{{/if}}{{#if nav--IsScrollable}} pf-m-scrollable{{/if}}"
  {{#if aria-label}}
    aria-label="{{aria-label}}"
  {{/if}}
  {{#if nav--attribute}}
    {{{nav--attribute}}}
  {{/if}}>
  {{#if nav--IsHorizontal}}
    {{> nav-scroll-button nav-scroll-button--attribute="disabled" nav-scroll-button--IsLeft="true"}}
    {{> @partial-block}}
    {{#if nav--IsScrollable}}
      {{> nav-scroll-button nav-scroll-button--IsRight="true"}}
    {{else}}
      {{> nav-scroll-button nav-scroll-button--attribute="disabled" nav-scroll-button--IsRight="true"}}
    {{/if}}
  {{else}}
    {{> @partial-block}}
  {{/if}}
</nav>
