.pf-c-nav {
  --pf-c-nav--Transition: var(--pf-global--Transition);
  --pf-c-nav__item--m-expanded__toggle-icon--Transform: rotate(90deg);

  // Light theme
  --pf-c-nav--m-light__item--before--BorderColor: var(--pf-global--BorderColor--300);
  --pf-c-nav--m-light__item--m-current--not--m-expanded__link--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-nav--m-light__link--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav--m-light__link--hover--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav--m-light__link--focus--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav--m-light__link--active--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav--m-light__link--m-current--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav--m-light__link--hover--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-nav--m-light__link--focus--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-nav--m-light__link--active--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-nav--m-light__link--m-current--BackgroundColor: var(--pf-global--BackgroundColor--light-300);
  --pf-c-nav--m-light__link--before--BorderColor: var(--pf-global--BorderColor--300);
  --pf-c-nav--m-light__link--after--BorderColor: var(--pf-global--active-color--100);
  --pf-c-nav--m-light__subnav__link--m-current--after--BorderColor: var(--pf-global--active-color--100);
  --pf-c-nav--m-light__section-title--Color: var(--pf-global--Color--dark-200);
  --pf-c-nav--m-light__section-title--BorderBottomColor: var(--pf-global--BorderColor--300);
  --pf-c-nav--m-light__subnav__link--hover--after--BorderColor: var(--pf-global--BorderColor--dark-100);
  --pf-c-nav--m-light__subnav__link--focus--after--BorderColor: var(--pf-global--BorderColor--dark-100);
  --pf-c-nav--m-light__subnav__link--active--after--BorderColor: var(--pf-global--BorderColor--dark-100);
  --pf-c-nav--m-light--c-divider--BackgroundColor: var(--pf-global--BorderColor--300);

  // Item
  --pf-c-nav__item--m-expanded__toggle--Transform: rotate(90deg);
  --pf-c-nav__item--m-current--not--m-expanded__link--BackgroundColor: var(--pf-global--BackgroundColor--dark-400);
  --pf-c-nav__link--m-current--not--m-expanded__link--after--BorderWidth: var(--pf-global--BorderWidth--xl);

  // Item ::before borders
  --pf-c-nav__item--before--BorderColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__item--before--BorderWidth: var(--pf-global--BorderWidth--sm);

  // Link
  --pf-c-nav__link--FontSize: var(--pf-global--FontSize--md);
  --pf-c-nav__link--FontWeight: var(--pf-global--FontWeight--normal);
  --pf-c-nav__link--PaddingTop: var(--pf-global--spacer--md);
  --pf-c-nav__link--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-nav__link--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-nav__link--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-nav__link--xl--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-nav__link--xl--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-nav__link--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__link--hover--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__link--focus--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__link--active--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__link--m-current--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__link--BackgroundColor: transparent;
  --pf-c-nav__link--hover--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__link--focus--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__link--active--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__link--m-current--BackgroundColor: var(--pf-global--BackgroundColor--dark-400);
  --pf-c-nav__link--OutlineOffset: calc(var(--pf-global--spacer--xs) * -1);

  // Link ::before borders
  --pf-c-nav__link--before--BorderColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__link--before--BorderBottomWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-nav__link--m-current--before--BorderWidth: 0;

  // Link ::after borders
  --pf-c-nav__link--after--BorderColor: var(--pf-global--active-color--400);
  --pf-c-nav__link--after--BorderWidth: var(--pf-global--BorderWidth--xl);
  --pf-c-nav__link--after--BorderBottomWidth: 0;
  --pf-c-nav__link--after--BorderLeftWidth: 0;
  --pf-c-nav__link--m-current--after--BorderWidth: var(--pf-global--BorderWidth--xl);

  // Simple list
  --pf-c-nav__simple-list__link--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-nav__simple-list__link--MarginBottom: var(--pf-global--spacer--sm);
  --pf-c-nav__simple-list__link--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-nav__simple-list__link--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-nav__simple-list__link--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-nav__simple-list__link--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-nav__simple-list__link--xl--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-nav__simple-list__link--xl--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-nav__simple-list__link--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav__simple-list__link--m-current--after--BorderWidth: var(--pf-global--BorderWidth--xl);

  // Horizontal list
  --pf-c-nav__horizontal-list__link--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-nav__horizontal-list__link--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-nav__horizontal-list__link--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-nav__horizontal-list__link--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-nav__horizontal-list__link--lg--PaddingTop: var(--pf-global--spacer--lg);
  --pf-c-nav__horizontal-list__link--lg--PaddingBottom: var(--pf-global--spacer--lg);
  --pf-c-nav__horizontal-list__link--Color: var(--pf-global--Color--light-300);
  --pf-c-nav__horizontal-list__link--hover--Color: var(--pf-global--active-color--400);
  --pf-c-nav__horizontal-list__link--focus--Color: var(--pf-global--active-color--400);
  --pf-c-nav__horizontal-list__link--active--Color: var(--pf-global--active-color--400);
  --pf-c-nav__horizontal-list__link--m-current--Color: var(--pf-global--active-color--400);
  --pf-c-nav__horizontal-list__link--BackgroundColor: transparent;
  --pf-c-nav__horizontal-list__link--hover--BackgroundColor: transparent;
  --pf-c-nav__horizontal-list__link--focus--BackgroundColor: transparent;
  --pf-c-nav__horizontal-list__link--active--BackgroundColor: transparent;
  --pf-c-nav__horizontal-list__link--m-current--BackgroundColor: transparent;
  --pf-c-nav__horizontal-list__link--before--BorderColor: var(--pf-global--active-color--400);
  --pf-c-nav__horizontal-list__link--before--BorderWidth: 0;
  --pf-c-nav__horizontal-list__link--hover--before--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-nav__horizontal-list__link--focus--before--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-nav__horizontal-list__link--active--before--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-nav__horizontal-list__link--m-current--before--BorderWidth: var(--pf-global--BorderWidth--lg);

  // Tertiary list
  --pf-c-nav__tertiary-list__link--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-nav__tertiary-list__link--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-nav__tertiary-list__link--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-nav__tertiary-list__link--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-nav__tertiary-list__link--Color: var(--pf-global--Color--dark-100);
  --pf-c-nav__tertiary-list__link--hover--Color: var(--pf-global--active-color--100);
  --pf-c-nav__tertiary-list__link--focus--Color: var(--pf-global--active-color--100);
  --pf-c-nav__tertiary-list__link--active--Color: var(--pf-global--active-color--100);
  --pf-c-nav__tertiary-list__link--m-current--Color: var(--pf-global--active-color--100);
  --pf-c-nav__tertiary-list__link--BackgroundColor: transparent;
  --pf-c-nav__tertiary-list__link--hover--BackgroundColor: transparent;
  --pf-c-nav__tertiary-list__link--focus--BackgroundColor: transparent;
  --pf-c-nav__tertiary-list__link--active--BackgroundColor: transparent;
  --pf-c-nav__tertiary-list__link--m-current--BackgroundColor: transparent;
  --pf-c-nav__tertiary-list__link--before--BorderColor: var(--pf-global--active-color--100);
  --pf-c-nav__tertiary-list__link--before--BorderWidth: 0;
  --pf-c-nav__tertiary-list__link--hover--before--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-nav__tertiary-list__link--focus--before--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-nav__tertiary-list__link--active--before--BorderWidth: var(--pf-global--BorderWidth--lg);
  --pf-c-nav__tertiary-list__link--m-current--before--BorderWidth: var(--pf-global--BorderWidth--lg);

  // Sub nav
  --pf-c-nav__subnav--PaddingBottom: var(--pf-global--spacer--md);
  --pf-c-nav__subnav--xl--PaddingLeft: var(--pf-c-nav__link--PaddingLeft);
  --pf-c-nav__subnav__link--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-nav__subnav__link--hover--after--BorderColor: var(--pf-global--BorderColor--200);
  --pf-c-nav__subnav__link--focus--after--BorderColor: var(--pf-global--BorderColor--200);
  --pf-c-nav__subnav__link--active--after--BorderColor: var(--pf-global--BorderColor--200);
  --pf-c-nav__subnav__link--m-current--after--BorderColor: var(--pf-global--active-color--400);
  --pf-c-nav__subnav__link--hover--after--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-nav__subnav__link--focus--after--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-nav__subnav__link--active--after--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-nav__subnav__link--m-current--after--BorderWidth: var(--pf-global--BorderWidth--xl);
  --pf-c-nav__subnav--MaxHeight: 0;
  --pf-c-nav--subnav__simple-list__link--MarginTop: 0;
  --pf-c-nav--subnav__simple-list__link--MarginBottom: 0;
  --pf-c-nav__subnav__simple-list__link--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-nav__subnav__simple-list__link--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-nav__item--m-expanded__subnav--MaxHeight: 100%;

  // Nav section
  --pf-c-nav__section--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-nav__section--section--MarginTop: var(--pf-global--spacer--xl);

  // Nav section title
  --pf-c-nav__section-title--PaddingTop: var(--pf-global--spacer--sm);
  --pf-c-nav__section-title--PaddingRight: var(--pf-global--spacer--md);
  --pf-c-nav__section-title--PaddingBottom: var(--pf-global--spacer--sm);
  --pf-c-nav__section-title--PaddingLeft: var(--pf-global--spacer--md);
  --pf-c-nav__section-title--xl--PaddingRight: var(--pf-global--spacer--lg);
  --pf-c-nav__section-title--xl--PaddingLeft: var(--pf-global--spacer--lg);
  --pf-c-nav__section-title--FontSize: var(--pf-global--FontSize--sm);
  --pf-c-nav__section-title--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__section-title--BorderBottomColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__section-title--BorderBottomWidth: var(--pf-global--BorderWidth--sm);

  // Scroll buttons
  --pf-c-nav__scroll-button--Color: var(--pf-global--Color--light-100);
  --pf-c-nav__scroll-button--hover--Color: var(--pf-global--active-color--400);
  --pf-c-nav__scroll-button--focus--Color: var(--pf-global--active-color--400);
  --pf-c-nav__scroll-button--active--Color: var(--pf-global--active-color--400);
  --pf-c-nav__scroll-button--disabled--Color: var(--pf-global--disabled-color--100);
  --pf-c-nav__scroll-button--BackgroundColor: transparent;
  --pf-c-nav__scroll-button--Width: var(--pf-global--target-size--MinWidth);
  --pf-c-nav__scroll-button--OutlineOffset: calc(-1 * var(--pf-global--spacer--xs));
  --pf-c-nav__scroll-button--Transition: margin .125s, transform .125s, opacity .125s;

  // Scroll buttons before
  --pf-c-nav__scroll-button--before--BorderColor: var(--pf-global--BackgroundColor--dark-200);
  --pf-c-nav__scroll-button--before--BorderWidth: var(--pf-global--BorderWidth--sm);
  --pf-c-nav__scroll-button--before--BorderRightWidth: 0;
  --pf-c-nav__scroll-button--before--BorderLeftWidth: 0;
  --pf-c-nav__scroll-button--disabled--before--BorderColor: transparent;

  // Toggle
  --pf-c-nav__toggle--PaddingRight: var(--pf-global--spacer--sm);
  --pf-c-nav__toggle--PaddingLeft: var(--pf-global--spacer--sm);
  --pf-c-nav__toggle--FontSize: var(--pf-global--icon--FontSize--md);

  // Toggle icon
  --pf-c-nav__toggle-icon--Transition: var(--pf-global--TransitionDuration);

  // Divider
  --pf-c-nav--c-divider--MarginTop: var(--pf-global--spacer--sm);
  --pf-c-nav--c-divider--MarginBottom: var(--pf-global--spacer--sm);
  --pf-c-nav--c-divider--PaddingRight: 0;
  --pf-c-nav--c-divider--PaddingLeft: 0;
  --pf-c-nav--c-divider--BackgroundColor: var(--pf-global--BackgroundColor--dark-200);

  @media screen and (min-width: $pf-global--breakpoint--xl) {
    --pf-c-nav__link--PaddingRight: var(--pf-c-nav__link--xl--PaddingRight);
    --pf-c-nav__link--PaddingLeft: var(--pf-c-nav__link--xl--PaddingLeft);
    --pf-c-nav__simple-list__link--PaddingRight: var(--pf-c-nav__simple-list__link--xl--PaddingRight);
    --pf-c-nav__simple-list__link--PaddingLeft: var(--pf-c-nav__simple-list__link--xl--PaddingLeft);
    --pf-c-nav__section-title--PaddingRight: var(--pf-c-nav__section-title--xl--PaddingRight);
    --pf-c-nav__section-title--PaddingLeft: var(--pf-c-nav__section-title--xl--PaddingLeft);
    --pf-c-nav__subnav--PaddingLeft: var(--pf-c-nav__subnav--xl--PaddingLeft);
  }

  &.pf-m-light {
    --pf-c-nav__item--before--BorderColor: var(--pf-c-nav--m-light__item--before--BorderColor);
    --pf-c-nav__item--m-current--not--m-expanded__link--BackgroundColor: var(--pf-c-nav--m-light__item--m-current--not--m-expanded__link--BackgroundColor);
    --pf-c-nav__link--Color: var(--pf-c-nav--m-light__link--Color);
    --pf-c-nav__link--hover--Color: var(--pf-c-nav--m-light__link--hover--Color);
    --pf-c-nav__link--focus--Color: var(--pf-c-nav--m-light__link--focus--Color);
    --pf-c-nav__link--active--Color: var(--pf-c-nav--m-light__link--active--Color);
    --pf-c-nav__link--m-current--Color: var(--pf-c-nav--m-light__link--m-current--Color);
    --pf-c-nav__link--hover--BackgroundColor: var(--pf-c-nav--m-light__link--hover--BackgroundColor);
    --pf-c-nav__link--focus--BackgroundColor: var(--pf-c-nav--m-light__link--focus--BackgroundColor);
    --pf-c-nav__link--active--BackgroundColor: var(--pf-c-nav--m-light__link--active--BackgroundColor);
    --pf-c-nav__link--m-current--BackgroundColor: var(--pf-c-nav--m-light__link--m-current--BackgroundColor);
    --pf-c-nav__link--before--BorderColor: var(--pf-c-nav--m-light__link--before--BorderColor);
    --pf-c-nav__link--after--BorderColor: var(--pf-c-nav--m-light__link--after--BorderColor);
    --pf-c-nav__subnav__link--hover--after--BorderColor: var(--pf-c-nav--m-light__subnav__link--hover--after--BorderColor);
    --pf-c-nav__subnav__link--focus--after--BorderColor: var(--pf-c-nav--m-light__subnav__link--focus--after--BorderColor);
    --pf-c-nav__subnav__link--active--after--BorderColor: var(--pf-c-nav--m-light__subnav__link--active--after--BorderColor);
    --pf-c-nav__subnav__link--m-current--after--BorderColor: var(--pf-c-nav--m-light__subnav__link--m-current--after--BorderColor);
    --pf-c-nav__section-title--Color: var(--pf-c-nav--m-light__section-title--Color);
    --pf-c-nav__section-title--BorderBottomColor: var(--pf-c-nav--m-light__section-title--BorderBottomColor);

    .pf-c-divider {
      --pf-c-divider--after--BackgroundColor: var(--pf-c-nav--m-light--c-divider--BackgroundColor);
    }
  }

  // Divider
  .pf-c-divider {
    --pf-c-divider--after--BackgroundColor: var(--pf-c-nav--c-divider--BackgroundColor);

    padding-right: var(--pf-c-nav--c-divider--PaddingRight);
    padding-left: var(--pf-c-nav--c-divider--PaddingLeft);
    margin-top: var(--pf-c-nav--c-divider--MarginTop);
    margin-bottom: var(--pf-c-nav--c-divider--MarginBottom);
  }

  &.pf-m-horizontal {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .pf-c-nav__link {
      align-items: center;
      align-self: stretch;

      &::before {
        top: auto;
        right: var(--pf-c-nav__link--PaddingRight);
        bottom: 0;
        left: var(--pf-c-nav__link--PaddingLeft);
        border-bottom-width: var(--pf-c-nav__link--before--BorderBottomWidth);
      }

      &::after {
        content: none;
      }
    }
  }

  &.pf-m-scrollable {
    .pf-c-nav__scroll-button {
      opacity: 1;
    }

    // Scroll buttons
    .pf-c-nav__scroll-button:nth-of-type(1) {
      margin-right: 0;
      transform: translateX(0);
    }

    .pf-c-nav__scroll-button:nth-of-type(2) {
      margin-left: 0;
      transform: translateX(0);
    }
  }
}

.pf-c-nav__list {
  display: flex;
  flex-direction: column;
}

// Borders
.pf-c-nav__item {
  position: relative;

  &.pf-m-expandable {
    --pf-c-nav__link--before--BorderBottomWidth: 0;

    &::before {
      position: absolute;
      right: 0;
      bottom: calc(var(--pf-c-nav__item--before--BorderWidth) * -1);
      left: 0;
      content: "";
      border-bottom: var(--pf-c-nav__item--before--BorderWidth) solid var(--pf-c-nav__item--before--BorderColor);
    }
  }

  &.pf-m-current:not(.pf-m-expanded) {
    --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__item--m-current--not--m-expanded__link--BackgroundColor);
    --pf-c-nav__link--after--BorderLeftWidth: var(--pf-c-nav__link--m-current--not--m-expanded__link--after--BorderWidth);
  }
}

// Link
.pf-c-nav__link {
  display: flex;
  align-items: baseline;
  padding: var(--pf-c-nav__link--PaddingTop) var(--pf-c-nav__link--PaddingRight) var(--pf-c-nav__link--PaddingBottom) var(--pf-c-nav__link--PaddingLeft);
  font-size: var(--pf-c-nav__link--FontSize);
  font-weight: var(--pf-c-nav__link--FontWeight);
  color: var(--pf-c-nav__link--Color);
  background-color: var(--pf-c-nav__link--BackgroundColor);
  outline-offset: var(--pf-c-nav__link--OutlineOffset);

  &::after,
  &::before {
    position: absolute;
    content: "";
    border: solid 0;
  }

  &::before {
    right: 0;

    // offset to hide sibling borders for hover state
    bottom: calc(var(--pf-c-nav__link--before--BorderBottomWidth) * -1);
    left: 0;
    border-color: var(--pf-c-nav__link--before--BorderColor);
    border-bottom-width: var(--pf-c-nav__link--before--BorderBottomWidth);
  }

  &::after {
    top: 0;
    bottom: 0;
    left: 0;
    border-color: var(--pf-c-nav__link--after--BorderColor);
    border-width: 0 0 var(--pf-c-nav__link--after--BorderBottomWidth) var(--pf-c-nav__link--after--BorderLeftWidth);
  }

  // States
  &:hover {
    --pf-c-nav__link--Color: var(--pf-c-nav__link--hover--Color);
    --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__link--hover--BackgroundColor);
  }

  &:focus {
    --pf-c-nav__link--Color: var(--pf-c-nav__link--focus--Color);
    --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__link--focus--BackgroundColor);
  }

  &:active {
    --pf-c-nav__link--Color: var(--pf-c-nav__link--active--Color);
    --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__link--active--BackgroundColor);
  }

  &.pf-m-current {
    --pf-c-nav__link--Color: var(--pf-c-nav__link--m-current--Color);
    --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__link--m-current--BackgroundColor);
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__link--m-current--before--BorderWidth);
    --pf-c-nav__link--after--BorderLeftWidth: var(--pf-c-nav__link--m-current--after--BorderWidth);
  }

  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

// Simple list
// no bottom border, no children. Used independently or as a subnav item of .pf-c-nav__list (default list component).
.pf-c-nav__simple-list {
  --pf-c-nav__link--PaddingTop: var(--pf-c-nav__simple-list__link--PaddingTop);
  --pf-c-nav__link--PaddingRight: var(--pf-c-nav__simple-list__link--PaddingRight);
  --pf-c-nav__link--PaddingBottom: var(--pf-c-nav__simple-list__link--PaddingBottom);
  --pf-c-nav__link--PaddingLeft: var(--pf-c-nav__simple-list__link--PaddingLeft);
  --pf-c-nav__link--FontSize: var(--pf-c-nav__simple-list__link--FontSize);
  --pf-c-nav__link--before--BorderColor: transparent;
  --pf-c-nav__link--m-current--after--BorderWidth: var(--pf-c-nav__simple-list__link--m-current--after--BorderWidth);
  --pf-c-nav--c-divider--PaddingRight: var(--pf-c-nav__simple-list__link--PaddingRight);
  --pf-c-nav--c-divider--PaddingLeft: var(--pf-c-nav__simple-list__link--PaddingLeft);

  .pf-c-nav__link {
    margin-top: var(--pf-c-nav__simple-list__link--MarginTop);
    margin-bottom: var(--pf-c-nav__simple-list__link--MarginBottom);
  }
}

// Horizontal and tertiary list
.pf-c-nav__horizontal-list,
.pf-c-nav__tertiary-list {
  --pf-c-nav__link--Right: var(--pf-c-nav__link--PaddingRight);
  --pf-c-nav__link--Left: var(--pf-c-nav__link--PaddingLeft);

  @include pf-overflow-hide-scroll;

  position: relative;
  display: flex;
  flex: 1;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;

  .pf-c-nav__item {
    display: flex;
  }

  .pf-c-nav__link {
    align-items: center;
    align-self: stretch;
  }

  .pf-c-nav__link::before {
    top: auto;
    right: var(--pf-c-nav__link--Right);
    bottom: 0;
    left: var(--pf-c-nav__link--Left);
    border-bottom-width: var(--pf-c-nav__link--before--BorderBottomWidth);
  }

  .pf-c-nav__link::after {
    content: none;
  }
}

// Horizontal list, masthead
.pf-c-nav__horizontal-list {
  --pf-c-nav__link--PaddingTop: var(--pf-c-nav__horizontal-list__link--PaddingTop);
  --pf-c-nav__link--PaddingRight: var(--pf-c-nav__horizontal-list__link--PaddingRight);
  --pf-c-nav__link--PaddingBottom: var(--pf-c-nav__horizontal-list__link--PaddingBottom);
  --pf-c-nav__link--PaddingLeft: var(--pf-c-nav__horizontal-list__link--PaddingLeft);
  --pf-c-nav__link--Color: var(--pf-c-nav__horizontal-list__link--Color);
  --pf-c-nav__link--hover--Color: var(--pf-c-nav__horizontal-list__link--hover--Color);
  --pf-c-nav__link--active--Color: var(--pf-c-nav__horizontal-list__link--active--Color);
  --pf-c-nav__link--focus--Color: var(--pf-c-nav__horizontal-list__link--focus--Color);
  --pf-c-nav__link--m-current--Color: var(--pf-c-nav__horizontal-list__link--m-current--Color);
  --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__horizontal-list__link--BackgroundColor);
  --pf-c-nav__link--hover--BackgroundColor: var(--pf-c-nav__horizontal-list__link--hover--BackgroundColor);
  --pf-c-nav__link--focus--BackgroundColor: var(--pf-c-nav__horizontal-list__link--focus--BackgroundColor);
  --pf-c-nav__link--active--BackgroundColor: var(--pf-c-nav__horizontal-list__link--active--BackgroundColor);
  --pf-c-nav__link--m-current--BackgroundColor: var(--pf-c-nav__horizontal-list__link--m-current--BackgroundColor);
  --pf-c-nav__link--before--BorderColor: var(--pf-c-nav__horizontal-list__link--before--BorderColor);
  --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__horizontal-list__link--before--BorderWidth);

  .pf-c-nav__link:hover {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__horizontal-list__link--hover--before--BorderWidth);
  }

  .pf-c-nav__link:focus {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__horizontal-list__link--focus--before--BorderWidth);
  }

  .pf-c-nav__link:active {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__horizontal-list__link--active--before--BorderWidth);
  }

  .pf-c-nav__link.pf-m-current {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__horizontal-list__link--m-current--before--BorderWidth);
  }
}

// Tertiary list
.pf-c-nav__tertiary-list {
  --pf-c-nav__link--PaddingTop: var(--pf-c-nav__tertiary-list__link--PaddingTop);
  --pf-c-nav__link--PaddingRight: var(--pf-c-nav__tertiary-list__link--PaddingRight);
  --pf-c-nav__link--PaddingBottom: var(--pf-c-nav__tertiary-list__link--PaddingBottom);
  --pf-c-nav__link--PaddingLeft: var(--pf-c-nav__tertiary-list__link--PaddingLeft);
  --pf-c-nav__link--Color: var(--pf-c-nav__tertiary-list__link--Color);
  --pf-c-nav__link--hover--Color: var(--pf-c-nav__tertiary-list__link--hover--Color);
  --pf-c-nav__link--active--Color: var(--pf-c-nav__tertiary-list__link--active--Color);
  --pf-c-nav__link--focus--Color: var(--pf-c-nav__tertiary-list__link--focus--Color);
  --pf-c-nav__link--m-current--Color: var(--pf-c-nav__tertiary-list__link--m-current--Color);
  --pf-c-nav__link--BackgroundColor: var(--pf-c-nav__tertiary-list__link--BackgroundColor);
  --pf-c-nav__link--hover--BackgroundColor: var(--pf-c-nav__tertiary-list__link--hover--BackgroundColor);
  --pf-c-nav__link--focus--BackgroundColor: var(--pf-c-nav__tertiary-list__link--focus--BackgroundColor);
  --pf-c-nav__link--active--BackgroundColor: var(--pf-c-nav__tertiary-list__link--active--BackgroundColor);
  --pf-c-nav__link--m-current--BackgroundColor: var(--pf-c-nav__tertiary-list__link--m-current--BackgroundColor);
  --pf-c-nav__link--before--BorderColor: var(--pf-c-nav__tertiary-list__link--before--BorderColor);
  --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__tertiary-list__link--before--BorderWidth);

  .pf-c-nav__link:hover {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__tertiary-list__link--hover--before--BorderWidth);
  }

  .pf-c-nav__link:focus {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__tertiary-list__link--focus--before--BorderWidth);
  }

  .pf-c-nav__link:active {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__tertiary-list__link--active--before--BorderWidth);
  }

  .pf-c-nav__link.pf-m-current {
    --pf-c-nav__link--before--BorderBottomWidth: var(--pf-c-nav__tertiary-list__link--m-current--before--BorderWidth);
  }
}

// Subnav
.pf-c-nav__subnav {
  --pf-c-nav__link--FontSize: var(--pf-c-nav__subnav__link--FontSize);
  --pf-c-nav__simple-list__link--MarginTop: var(--pf-c-nav--subnav__simple-list__link--MarginTop);
  --pf-c-nav__simple-list__link--MarginBottom: var(--pf-c-nav--subnav__simple-list__link--MarginBottom);
  --pf-c-nav__simple-list__link--FontSize: var(--pf-c-nav__subnav__link--FontSize);
  --pf-c-nav__simple-list__link--PaddingRight: var(--pf-c-nav__subnav__simple-list__link--PaddingRight);
  --pf-c-nav__simple-list__link--PaddingLeft: var(--pf-c-nav__subnav__simple-list__link--PaddingLeft);

  max-height: var(--pf-c-nav__subnav--MaxHeight);
  padding-bottom: var(--pf-c-nav__subnav--PaddingBottom);
  padding-left: var(--pf-c-nav__subnav--PaddingLeft);
  transition: var(--pf-c-nav--Transition);

  .pf-c-nav__item.pf-m-expanded & {
    --pf-c-nav__subnav--MaxHeight: var(--pf-c-nav__item--m-expanded__subnav--MaxHeight);

    overflow-y: auto;
    opacity: 1;
  }

  .pf-c-nav__link {
    &:hover {
      --pf-c-nav__link--after--BorderLeftWidth: var(--pf-c-nav__subnav__link--hover--after--BorderWidth);
      --pf-c-nav__link--after--BorderColor: var(--pf-c-nav__subnav__link--hover--after--BorderColor);
    }

    &:focus {
      --pf-c-nav__link--after--BorderLeftWidth: var(--pf-c-nav__subnav__link--focus--after--BorderWidth);
      --pf-c-nav__link--after--BorderColor: var(--pf-c-nav__subnav__link--focus--after--BorderColor);
    }

    &:active {
      --pf-c-nav__link--after--BorderLeftWidth: var(--pf-c-nav__subnav__link--active--after--BorderWidth);
      --pf-c-nav__link--after--BorderColor: var(--pf-c-nav__subnav__link--active--after--BorderColor);
    }

    &.pf-m-current {
      --pf-c-nav__link--after--BorderLeftWidth: var(--pf-c-nav__subnav__link--m-current--after--BorderWidth);
      --pf-c-nav__link--after--BorderColor: var(--pf-c-nav__subnav__link--m-current--after--BorderColor);
    }
  }

  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}

// Toggle caret
.pf-c-nav__toggle {
  flex: none;
  padding-right: var(--pf-c-nav__toggle--PaddingRight);
  padding-left: var(--pf-c-nav__toggle--PaddingLeft);
  margin-left: auto;
  font-size: var(--pf-c-nav__toggle--FontSize);
  line-height: 1;
}

// Toggle icon
.pf-c-nav__toggle-icon {
  display: inline-block;
  transition: var(--pf-c-nav__toggle-icon--Transition);

  .pf-c-nav__item.pf-m-expanded & {
    transform: var(--pf-c-nav__item--m-expanded__toggle-icon--Transform);
  }
}

// Section
.pf-c-nav__section {
  margin-top: var(--pf-c-nav__section--MarginTop);

  & + & {
    --pf-c-nav__section--MarginTop: var(--pf-c-nav__section--section--MarginTop);
  }
}

// Section title
.pf-c-nav__section-title {
  padding: var(--pf-c-nav__section-title--PaddingTop) var(--pf-c-nav__section-title--PaddingRight) var(--pf-c-nav__section-title--PaddingBottom) var(--pf-c-nav__section-title--PaddingLeft);
  font-size: var(--pf-c-nav__section-title--FontSize);
  color: var(--pf-c-nav__section-title--Color);
  border-bottom: var(--pf-c-nav__section-title--BorderBottomWidth) solid var(--pf-c-nav__section-title--BorderBottomColor);
}

// Scroll buttons
.pf-c-nav__scroll-button {
  flex: none;
  width: var(--pf-c-nav__scroll-button--Width);
  color: var(--pf-c-nav__scroll-button--Color);
  background-color: var(--pf-c-nav__scroll-button--BackgroundColor);
  border: 0;
  outline-offset: var(--pf-c-nav__scroll-button--OutlineOffset);
  opacity: 0;
  transition: var(--pf-c-nav__scroll-button--Transition);

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    border: solid var(--pf-c-nav__scroll-button--before--BorderColor);
    border-width: 0 var(--pf-c-nav__scroll-button--before--BorderRightWidth) 0 var(--pf-c-nav__scroll-button--before--BorderLeftWidth);
  }

  &:hover {
    --pf-c-nav__scroll-button--Color: var(--pf-c-nav__scroll-button--hover--Color);
  }

  &:focus {
    --pf-c-nav__scroll-button--Color: var(--pf-c-nav__scroll-button--focus--Color);
  }

  &:active {
    --pf-c-nav__scroll-button--Color: var(--pf-c-nav__scroll-button--active--Color);
  }

  &:disabled {
    --pf-c-nav__scroll-button--Color: var(--pf-c-nav__scroll-button--disabled--Color);
    --pf-c-nav__scroll-button--before--BorderColor: var(--pf-c-nav__scroll-button--disabled--before--BorderColor);

    pointer-events: none;
  }

  &:nth-of-type(1) {
    --pf-c-nav__scroll-button--before--BorderRightWidth: var(--pf-c-nav__scroll-button--before--BorderWidth);

    margin-right: calc(var(--pf-c-nav__scroll-button--Width) * -1);
    transform: translateX(-100%);

    &::before {
      right: 0;
    }
  }

  &:nth-of-type(2) {
    --pf-c-nav__scroll-button--before--BorderLeftWidth: var(--pf-c-nav__scroll-button--before--BorderWidth);

    margin-left: calc(var(--pf-c-nav__scroll-button--Width) * -1);
    transform: translateX(100%);

    &::before {
      left: 0;
    }
  }
}
